@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --cerulean: #0081a7ff;
  --verdigris: #00afb9ff;
  --light-yellow: #fdfcdcff;
  --light-orange: #fed9b7ff;
  --bittersweet: #f07167ff;
  --black: #000000ff;
  --white: #ffffffff;
  --gray: #808080ff;
  --dark-gray: #404040ff;

  --primary-color: var(--verdigris);
  --secondary-color: var(--cerulean);
  --background-color: var(--light-yellow);
  --text-color: var(--black);
  --font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}
